.logo{
    display: flex;
    background-color: black;
    display: inline-block 50px;
    padding: 10px;
    justify-content: space-between;
    position: sticky;
    left: 0;
    top: 0;
    z-index:100;
}
.nombre{
    width: 70px;
}
.menu{
    width: 20px;
}
.titulo1{
    display: flex;
    background-color:rgb(38, 133, 229);
    display: inline-block 50px;
    padding: 10px;
    color: white;
    text-align: center;
    flex-direction: column;


}
.btn{
    background-color: rgb(94, 216, 94);
    padding:7px;
    border-radius: 15px;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: none;
}
    
  
      

.subtitulo{
    display: flex;
    margin:10%;
}
.container{
    display: flex;
    padding: 10px;
} 
.image1{
    width: 100px;
    margin-right: 50px;
    margin-left: 30px;
}
.image2{
    width: 100px;
    margin-right: 50px;
    margin-left: 30px;
}
.image3{
    width: 100px;
    margin-right: 50px;
    margin-left: 30px;
}
.image4{
    width: 100px;
    margin-right: 50px;
    margin-left: 30px;
}
.texto{
    align-self: center;
}
.footer{
    display: flex;
    background-color: black;
    padding: 80px;
    
}
.navfot{
    position:sticky;
    color:white;
    display: flex;
    text-align: end;
    gap:50px;
    top: 0;
    left:0;
    z-index: 100;
    
}
