

   <article class="titulo">
      <h1>Prueba Premium gratis 3 meses</h1>
      <h3>Escucha millones de canciones sin anuncios, a la carta y sin
         <br>conexión
      </h3>
      <button class="boton">
         <a href="https://www.spotify.com/es/premium/" target="_blank">ver planes</a>
      </button>
      <h6>Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya hayan probado
      </h6>
   </article>

   <main class="bloco-medio">
      <h2 class="subtitulo">¿Por qué pasarte a Premium?</h2>
      <section>
         <div class="container">
            <img class="image1" src="logo1.png" alt="esta image no carga">
            <div class="texto">
               <h4>Descarga música.</h4>
               <p>Llévala siempre contigo.</p>
            </div>
         </div>
         <div class="container">
            <img class="image2" src="logo2.png" alt="esta image no carga">
            <div class="texto">
               <h4>Sin anuncios.</h4>
               <p>Disfruta de música sin interrupciones.</p>
            </div>
         </div>
         <div class="container">
            <img class="image3" src="logo3.png" alt="esta image no carga">
            <div class="texto">
               <h4>Escucha lo que quieras.</h4>
               <p>Incluso en el móvil.</p>
            </div>
         </div>
         <div class="container">
            <img class="image4" src="logo4.png" alt="esta image no carga">
            <div class="texto">
               <h4>Salta todas las canciones que quieras.</h4>
               <p>Simplemente dale a la siguiente.</p>
            </div>
         </div>
      </section>
   </main>

   