<footer class="footer">
    <nav class="navfot">
       <a href="https://www.spotify.com/es/legal/" class="nav-link">Legal</a>
       <a href="https://www.spotify.com/es/premium/#:~:text=Configuraci%C3%B3n%20de-,cookies,-Informaci%C3%B3n%20sobre%20los"
          class="nav-link">Cookies</a>
       <a href="https://www.spotify.com/es/legal/privacy-policy/#s3" class="nav-link">Información sobre los
          anuncios</a>
    </nav>
    <div class="españa">
       <img src="./Bandera_nacional_de_España.png" alt="bandera de españa" class="bandera">
       <p class="esp">España</p>
       <span>@2019 Spotify AB</span>
    </div>
 </footer>
