header class="cabecero">
      <img class="logo" src="./images/logo-nombre.png" alt="spotify">
      <img class="menu" src="./images/logo-menu.png" alt="menu">
      <nav>
         <a href="https://www.spotify.com/es/premium/?ref=spotifycom_header_premium_button" class="nav-link">Premium</a>
         <a href="https://support.spotify.com/?_gl=1*mw3kzy*_gcl_au*MTA3NDAwMjM0Ni4xNzEwOTI5MjQ1"
            class="nav-link">Ayuda</a>
         <a href="https://www.spotify.com/es/download/" class="nav-link">Descargar</a>
         <span>|</span>
         <a href="https://www.spotify.com/es/signup/" class="nav-link">Registrarte</a>
         <a href="https://www.spotify.com/es/login/?continue=%2Fes%2Fpremium%2F" class="nav-link">Iniciar Sesión</a>
      </nav>
   </header>